body{
font-family:Segoe UI,Arial,sans-serif;
margin:0;
background:#f4f6f8;
color:#333;
}

header{
background:white;
padding:20px;
text-align:center;
}

.logo{
width:90%;
max-width:700px;
}

nav{
margin-top:15px;
}

nav a{
margin:0 12px;
text-decoration:none;
color:#1F5AA8;
font-weight:bold;
}

.hero{
background:#1F5AA8;
color:white;
padding:60px 20px;
text-align:center;
}

.content{
max-width:1000px;
margin:auto;
padding:40px 20px;
}

.heroimg{
max-width:800px;
width:100%;
border-radius:10px;
}

footer{
background:#1F5AA8;
color:white;
padding:20px;
text-align:center;
}
